/* Font & Icons*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.material-icons {
    font-family: 'Material Icons', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 150px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

*, html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    list-style: none;
}

.header {
    margin-top: 1%;
    margin-left: 1%;
    position: fixed;
    top: 1%;
    width: 100%;
}

.header .login {
    margin-right: 27% !important;
    float: right !important;
    clear: right !important;
    font-size: 20px;
}

body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/simple_dashed.png");
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

h3 {
    margin-bottom: 3%;
}

h3 span {
    font-size: 16px;
    color: #8642d7;
}

h3 span label {
    font-size: 16px;
    color: #8642d7;
}

/*Delete Button*/

.delete-button {
    border-radius: 4px;
    background-color: #8642d7;
    border: none;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
}

.delete-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.delete-button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.delete-button:hover span {
    padding-right: 25px;
}

.delete-button:hover span:after {
    opacity: 1;
    right: 0;
}

/* Vertical Align */
.vertical-align {
    margin-top: 15%;
    display: table;
    width: 100%;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

table {
    width: 100%;
}

/* Footer */
footer {
    z-index: 999;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 15px 15px 0;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
}

footer i {
    font-size: 15px !important;
    vertical-align: middle;
    margin: -2px 0 0 15px;
}

footer a:hover {
    color: #8642d7;
}

.vertical-align section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

.vertical-align input.tab {
    display: none;
}

.vertical-align label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

.vertical-align label:before {
    font-family: fontawesome, serif;
    font-weight: normal;
    margin-right: 10px;
}

.vertical-align label[for*='payments']:before {
    content: '\f155';
}

.vertical-align label[for*='charts']:before {
    content: '\f201';
}

.vertical-align label[for*='configuration']:before {
    content: '\f085';
}

.vertical-align label[for*='2']:before {
    content: '\f073';
}

.vertical-align label:hover {
    color: #888;
    cursor: pointer;
}

.vertical-align input.tab:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
}

#payments:checked ~ #paymentsSection,
#charts:checked ~ #chartsSection,
#configuration:checked ~ #configurationSection {
    display: block;
}

@media screen and (max-width: 650px) {
    .vertical-align label {
        font-size: 0;
    }

    .vertical-align label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    .vertical-align label {
        padding: 15px;
    }
}

.filters {
    margin: 1% auto;
    width: 400px;
    text-align: center;
}

.filters > .dropdown {
    margin: 0 20px;
    vertical-align: top;
}

.dropdown {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 28px;
    width: 150px;
    background: #f2f2f2;
    border: 1px solid;
    border-color: white #f7f7f7 whitesmoke;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.dropdown:before, .dropdown:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 9px;
    right: 10px;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: #888888 transparent;
    pointer-events: none;
}

.dropdown:before {
    border-bottom-style: solid;
    border-top: none;
}

.dropdown:after {
    margin-top: 7px;
    border-top-style: solid;
    border-bottom: none;
}

.dropdown-select {
    position: relative;
    width: 130%;
    margin: 0;
    padding: 6px 8px 6px 10px;
    height: 28px;
    line-height: 14px;
    font-size: 12px;
    color: #62717a;
    text-shadow: 0 1px white;
    background: #f2f2f2; /* Fallback for IE 8 */
    background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
}

.dropdown-select:focus {
    z-index: 3;
    width: 100%;
    color: #394349;
    outline: 2px solid #49aff2;
    outline: 2px solid -webkit-focus-ring-color;
    outline-offset: -2px;
}

.dropdown-select > option {
    margin: 3px;
    padding: 6px 8px;
    text-shadow: none;
    background: #f2f2f2;
    border-radius: 3px;
    cursor: pointer;
}

.dropdown-dark {
    background: #444;
    border-color: #111111 #0a0a0a black;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.dropdown-dark:before {
    border-bottom-color: #aaa;
}

.dropdown-dark:after {
    border-top-color: #aaa;
}

.dropdown-dark .dropdown-select {
    color: #aaa;
    text-shadow: 0 1px black;
    background: #444; /* Fallback for IE 8 */
}

.dropdown-dark .dropdown-select:focus {
    color: #ccc;
}

.dropdown-dark .dropdown-select > option {
    background: #444;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}



